[data]
  email = "{{ (get . "email") | default (promptString "email" "Email address") }}"
  name  = "{{ (get . "name")  | default (promptString "name" "Full name") }}"

[git]
  autoCommit = true
  autoPush = true
