{{- range (.macos.brew.taps | default list) }}
tap "{{ . }}"
{{- end }}

{{- range (.macos.brew.formulae | default list) }}
brew "{{ . }}"
{{- end }}

{{- range (.macos.brew.casks | default list) }}
cask "{{ . }}"
{{- end }}
