{{- range (.brew.taps | default list) }}
tap "{{ . }}"
{{- end }}

{{- range (.brew.formulae | default list) }}
brew "{{ . }}"
{{- end }}

{{- range (.brew.casks | default list) }}
cask "{{ . }}"
{{- end }}
