UseKeychain yes
ForwardAgent yes

Host *
    # IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
    IdentityAgent "{{ env "SSH_AUTH_SOCK" }}"

Host spencerstag
    HostName spencermultisso-staging.spencer.farm
    User ubuntu
    IdentityFile ~/.ssh/id_rsa_stijn
Host spencerstagv2
    HostName spencermultissov2-staging.spencer.farm
    User ubuntu
    IdentityFile ~/.ssh/id_rsa
Host spencerprod
    HostName spencermultisso-production.spencer.farm
    User ubuntu
    IdentityFile ~/.ssh/id_rsa_stijn
Host spencerprodv2
    HostName spencermultissov2-production.spencer.farm
    User ubuntu
    IdentityFile ~/.ssh/id_rsa

Host *.github.com
  AddKeysToAgent yes
  UseKeychain yes
  IdentityFile ~/.ssh/id_ed25519

Host *.bitbucket.com
  AddKeysToAgent yes
  UseKeychain yes
  IdentityFile ~/.ssh/id_ed25519

Host tailscaletmp
    # HostName 100.72.233.58
    HostName 20.4.29.60
    User ubuntu
    IdentityFile ~/.ssh/tailscale-tmp-ubuntu.pem
